.cover-words {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 54px;
    color: #ffffff;
    font-weight: 700;
    padding: 20px;
}

.cover-description {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    color: #ffffff;
    font-weight: 700;
    padding: 20px;
}

.cover-info {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
    padding: 20px;
}

.range-input {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* .range-input:hover {
    opacity: 1;
} */

.slider-value {
    font-weight: 700;
    font-size: 40px;
    font-family: sans-serif;
    padding: 20px;
    color: #ffffff;
}

.slider-value:hover {
    opacity: 1;
}
/* #games-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.game {
    padding-top: 35px;
    color: #ffffff;
} */

.game-data {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-container {
    padding: 50px;
    display: flex;
    justify-content: center;
}

/* .slide-main {
    width: 40%;
    position: relative;
    display: flex;
    justify-content: center;
} */

.filter-buttons {
    left: 50%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#popularity {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    width: 25%;
    border-radius: 15px;
    outline: none;
    border: none;
    transition: 0.3s;
}

#popularity:hover {
    opacity: 60%;
    transition: 0.5s;
}

#popularity:focus {
    outline: none;
}

#metacritic {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    width: 25%;
    border-radius: 15px;
    outline: none;
    border: none; 
    transition: 0.3s;
}

#metacritic:focus {
    outline: none
}

#metacritic:hover {
    opacity: 60%;
    transition: 0.5s;
}

/* #slider {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    outline: none;
    border-radius: 10px;
}

#slider::-webkit-slider-runnable-track {
    background-color: #3BDDCD;
    border-radius: 10px;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 3;
    position: relative;
}

#selector {
    height: 104px;
    width: 48px;
    position: absolute;
    bottom: -19px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.SelectBtn {
    height: 48px;
    width: 48px;
    background-image: url(https://ksr-ugc.imgix.net/assets/011/533/904/f58978f175eba8065d1b5afe4545876d_original.png?ixlib=rb-2.1.0&crop=faces&w=1552&h=873&fit=crop&v=1463684109&auto=format&frame=1&q=92&s=a8aaec524224c35d7b634c36218f7038);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
} */


/* .testing {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 40px;
    color: #ffffff;
    font-weight: 700;
    padding: 20px;
} */