.cover-words {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 54px;
    color: #ffffff;
    font-weight: 700;
    padding: 20px;
}

.cover-description {
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    color: #ffffff;
    font-weight: 700;
    padding: 20px;
}


.cover-info {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
    padding: 20px;
}

.range-input {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* .range-input:hover {
    opacity: 1;
} */

.slider-value {
    font-weight: 700;
    font-size: 40px;
    font-family: sans-serif;
    padding: 20px;
    color: #ffffff;
}

.slider-value:hover {
    opacity: 1;
}
/* #games-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.game {
    padding-top: 35px;
    color: #ffffff;
} */

.game-data {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-container {
    padding: 50px;
    display: flex;
    justify-content: center;
}

/* .slide-main {
    width: 40%;
    position: relative;
    display: flex;
    justify-content: center;
} */

.filter-buttons {
    left: 50%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#popularity {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    width: 25%;
    border-radius: 15px;
    outline: none;
    border: none;
    transition: 0.3s;
}

#popularity:hover {
    opacity: 60%;
    transition: 0.5s;
}

#popularity:focus {
    outline: none;
}

#metacritic {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    width: 25%;
    border-radius: 15px;
    outline: none;
    border: none; 
}

#metacritic:focus {
    outline: none
}

#metacritic:hover {
    opacity: 60%;
    transition: 0.5s;
}

.page-instructions {
    justify-content: center;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}
