.entire-page {
    background-color: #151515;
}

.top-list {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 50%; */
}

.cover-words {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 54px;
    color: #ffffff;
    font-weight: 700;
    padding: 20px;
}

.github-link {
    width: 50px;
    height: 50px;
}

.github-logo {
    width: 50px;
    height: 50px;
    filter: none;
    transition: all 0.3s ease;
    background-color: white;
}

.linkedin-logo {
    width: 50px;
    height: 50px;
    filter: invert(1);
    /* filter: invert(33%) sepia(8%) saturate(726%) hue-rotate(244deg) brightness(90%) contrast(87%); */
    transition: all 0.3s ease;
}

.linkedin-logo:hover {
    width: 48px;
    height: 48px;
    filter: invert(0.8);
    transition: 0.2s;
}
