#question-mark {
    height: 30px;
    width: 30px;
    filter: invert(1);
    transition: 0.2s;
}

#question-mark:hover {
    filter: invert(0.8);
    transition: 0.2s;
}

#rawg-info {
    display: none;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding: 10px;
    animation: fadeIn ease 0.3s;
    transition: 0.4s;
}

#metacritic-info {
    display: none;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 10px;
    animation: fadeIn ease 0.3s;
    transition: 0.4s;
}

