

.slide-container {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.slide-main {
    width: 40%;
    /* position: relative; */
    display: flex;
    justify-content: center;
}

.range-input{

    left: 60%;

    padding:10px 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.range-input input{
    -webkit-appearance: none;
    width: 200px;
    height: 2px;
    align-items: center;
    border: none;
    outline:none;
}

.range-input .value{
    -webkit-appearance: none;
    font-family: "Courier New", Courier, monospace;
    color: white;
    text-align: center;
    font-weight: 600;
    line-height: 40px;
    height: 40px;
    margin-left: 10px;
}